<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <fieldset>
    <legend>Retrieiving</legend>
    <%= f.fields_for :retriever do |f| %>
      <div class="field">
        <%= f.label :modus, "Method" %><br />
        <%= f.select :modus, Retriever::MODUS_CHOICES %>
      </div>
      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :port %><br />
        <%= f.text_field :port %>
      </div>
      <div class="field">
        <%= f.label :user_name %><br />
        <%= f.text_field :user_name %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :enable_ssl, "Enable SSL?" %>
        <%= f.check_box :enable_ssl %>
      </div>
    <%- end -%>
  </fieldset>

  <fieldset>
    <legend>Sending</legend>
    <%= f.fields_for :sender do |f| %>
      <div class="field">
        <%= f.label :modus, "Method" %><br />
        <%= f.select :modus, Sender::MODUS_CHOICES %>
      </div>
      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :port %><br />
        <%= f.text_field :port %>
      </div>
      <div class="field">
        <%= f.label :user_name %><br />
        <%= f.text_field :user_name %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :authentication %><br />
        <%= f.select :authentication, Sender::AUTHENTICATION_CHOICES %>
      </div>
      <div class="field">
        <%= f.label :enable_starttls_auto, "Enable STARTTLS?" %>
        <%= f.check_box :enable_starttls_auto %>
      </div>
    <%- end -%>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
