<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Retriever:</b>
  <%= @account.retriever_id %>
</p>

<p>
  <b>Sender:</b>
  <%= @account.sender_id %>
</p>

<pre><%= @mail.inspect %></pre>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
